@media only screen and (max-width: 800px){

	nav{

		width: 12%;
	}

	nav .menuVert div h4{

		display: none;
	}

	nav .menuVert div{

		justify-content: center;
	}

	nav .menuVert div p{

		padding-right: 0px;
	}

	nav .logo h1{

		display: none;
	}

	nav .logo #logoMob{

		display: flex;
	}


	.col-centered section{

		flex-direction: column;
	}

	.col-dist section{

		flex-direction: column;
	}

	.col-dist section hr{

		width: 50%;
		height: 1px;
		margin-top: 12px;
		margin-bottom: 12px;
	}
}